#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 1rem;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.resume-builder {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.input-info-cards {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    gap: 20px;
}

.input-info-cards > div {
    border: 1px solid rgb(107, 107, 107);
    border-radius: 10px;
    padding: 1rem;
}

.input-personal-info,
.input-education-info,
.input-prof-experience-info,
.input-education-flex,
.input-prof-exp-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.input-study-period input,
.input-work-period input {
    margin-right: 10px;
}

.input-personal-info label,
.input-education-flex label,
.input-prof-exp-flex label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip .tooltip-text {
    visibility: hidden;
    font-size: 0.7rem;
    width: 140px;
    background-color: #5a5a5a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.resume {
    max-width: 900px;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px;
}

.resume-personal-info {
    background-color: #444444;
    border-bottom: 5px solid #fff;
    font-weight: 700;
}

.resume-category-name {
    background-color: #8a8a8a;
    color: #000;
}

.resume-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.resume-prof-experience-info,
.resume-education-info {
    display: flex;
    flex-direction: column;
}

.resume-workplace,
.resume-place-of-education {
    position: relative;
    padding: 1rem;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    border-bottom: 1px solid #8a8a8a;
}

.resume-workplace-name,
.resume-place-of-education-name {
    font-weight: 700;
    font-size: 1.2rem;
}

.resume-place-of-education p,
.resume-workplace p {
    min-width: 100px;
    flex-shrink: 1;
    white-space: normal;
}

.resume-place-of-education:hover button,
.resume-workplace:hover button {
    opacity: 1;
    pointer-events: auto;
}

.resume button {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

@media print {
    .do-not-print {
        display: none;
    }
    .resume-builder {
        display: block;
    }
    .resume {
        border: 2px solid #000;
    }
    .resume-personal-info {
        background-color: #ffffff;
        border-bottom: 2px solid #000000;
    }
    .resume-category-name {
        border-top: 1px solid #000;
    }
}

@media screen and (max-width: 995px) {
    .resume-builder {
        flex-direction: column;
    }

    .resume-place-of-education p,
    .resume-workplace p {
        min-width: 0px;
        flex-shrink: 1;
        white-space: normal;
    }
}
